.container {
  background-color: var(--color-dark);
  background-size: cover;
  background-position: center;
  color: var(--color-white);
  min-height: 100vh;
  margin: 0 auto;
}

.background {
  background-color: var(--color-dark);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;

  img {
    width: 120%;
    height: 120%;
    object-fit: cover;

    filter: brightness(0.25);
  }
}

.main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  overflow: hidden;
}

.h1 {
  font-family: 'RocknRoll One', sans-serif;
  font-size: 14rem;
  margin-bottom: var(--mb-md);
  text-transform: capitalize;
  text-align: center;
  animation-name: fadein;
  animation-delay: 0.5s;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  margin-top: auto;

  @media only screen and (max-height: 25rem) {
    // 480 px
    font-size: 10rem;
  }

  @media only screen and (max-width: 35em) {
    max-width: 80rem;
    font-size: 8rem;
    margin-top: 0;
    margin-bottom: var(--mb-sm);
  }

  @media only screen and (max-width: 22.5em) {
    font-size: 18rem;
  }

  @media only screen and (max-height: 20rem) {
    max-width: initial;
  }
}

.paragraph {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;

  text-align: center;
  font-weight: 400;
  letter-spacing: 4px;
  max-width: 85rem;
  line-height: 3rem;
  margin: 0 auto var(--mb-md);

  @media only screen and (max-height: 37.5rem) {
    margin-bottom: var(--mb-sm);
  }

  @media only screen and (max-width: 65.75em) {
    letter-spacing: 2px;
    font-size: 1.6rem;
  }

  @media only screen and (max-width: 47.5em) {
    letter-spacing: 1px;
    font-size: 1.8rem;
  }

  @media only screen and (max-width: 35em) {
    font-size: 2.2rem;
    max-width: 55rem;
    margin-bottom: var(--mb-md);
  }

  @media only screen and (max-width: 22.5em) {
    font-size: 3.2rem;
    line-height: 5rem;
  }

  @media only screen and (max-width: 21em) {
    max-width: 78rem;
  }

  @media only screen and (max-height: 20rem) {
    max-width: initial;
    font-size: 3.2rem;
    margin-bottom: var(--mb-lg);
  }

  span:first-child {
    display: block;
    animation-name: moveInLeft;
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
  span:last-child {
    display: block;
    animation-name: moveInRight;
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
}

.nav {
  padding: 4rem;
  @media only screen and (max-height: 37.5rem) {
    padding: 2rem;
  }

  @media only screen and (max-width: 35em) {
    padding: 0;
  }
  &__list {
    list-style: none;
    display: flex;

    justify-content: center;
    font-size: 2.4rem;

    @media only screen and (max-width: 35em) {
      flex-direction: column;
      align-items: center;
      font-size: 3.6rem;
      letter-spacing: 6px;
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    @media only screen and (max-width: 22.5em) {
      font-size: 6rem;
      gap: 5rem;
    }

    @media only screen and (max-height: 20rem) {
      flex-direction: row;
      font-size: 6rem;
      gap: 6rem;
    }

    &_item {
      text-transform: uppercase;
      animation-name: moveInDown;
      animation-duration: 0.8s;
      animation-timing-function: ease-out;

      animation-fill-mode: backwards;
      &:not(:last-child) {
        margin-right: 5rem;
      }

      @media only screen and (max-height: 20rem) {
        margin-right: 6rem;
      }

      @media only screen and (max-width: 35em) {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem;
        }
      }
      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation-delay: 0.2s;
      }
      &:nth-child(4) {
        animation-delay: 0.3s;
      }
    }
  }
}

.navlink {
  color: var(--color-white);
  color: rgba(#fff, 0.3);

  &:link,
  &:visited {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--color-white);
    transition: all 0.2s;
  }

  &:hover,
  &:active {
    transform: scale(1.1);
  }
}

.media {
  padding: 8rem;
  margin-top: auto;

  @media only screen and (max-width: 35em) {
    margin-top: 20rem;
    padding-top: 0;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: auto;

    @media only screen and (max-width: 47.5em) {
      margin-bottom: 15rem;
    }
  }

  &__list_icon {
    width: 35px;
    height: 35px;
    fill: rgba(#adb5bd, 0.8);
    stroke: rgba(#adb5bd, 0.8);
    transition: all 0.4s;

    @media only screen and (max-width: 35em) {
      width: 30px;
      height: 30px;
    }
  }

  &__list_item {
    border-radius: 50%;
    animation-name: moveInUp;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    @media only screen and (max-width: 47.5em) {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    &:nth-child(1) {
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      animation-delay: 0.5s;
    }
    &:nth-child(6) {
      animation-delay: 0.6s;
    }
    &:nth-child(4) {
      animation-delay: 0.7s;
    }
    &:nth-child(2) {
      animation-delay: 0.8s;
    }
    &:nth-child(5) {
      animation-delay: 0.9s;
    }
  }

  &__list_link {
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;

    @media only screen and (max-width: 35em) {
      width: 30px;
      height: 30px;
    }
  }
  &__list_link {
    &:link,
    &:visited {
      position: relative;
      cursor: pointer;
      transition: all 0.3s;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        display: block;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        border: 3px solid var(--color-white);
        z-index: -1;
        opacity: 0;
        transition: border-color 0.3s, top 0.3s, left 0.3s;

        @media only screen and (max-width: 35em) {
          width: 28px;
          height: 28px;
        }
      }
    }

    &:hover {
      transform: scale(1.2);
      &::before {
        opacity: 1;
        border-color: transparent;
      }
    }
  }
  &__list_link:hover &__list_icon {
    fill: var(--color-white);
    stroke: var(--color-white);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }

  50% {
    opacity: 0.5;
  }

  80% {
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }

  50% {
    opacity: 0.5;
  }

  80% {
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveInUp {
  0% {
    transform: translateY(8rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveInDown {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }

  70% {
    transform: translateY(3rem);
  }

  80% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
