.container {
  background-color: var(--color-dark);
  // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  //   url(../public/img/bg-pic-1.jpeg);
  background-size: cover;
  background-position: center;
  color: var(--color-white);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10rem;
}

.h1 {
  font-size: 20rem;
  margin-bottom: var(--mb-lg);
  text-transform: capitalize;
  text-align: center;
}

.paragraph {
  font-size: var(--font-primary);
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
}
