:root {
  --font-primary: 1.5rem;
  --mb-lg: 8rem;
  --mb-md: 4rem;
  --color-dark: #212529;
  --color-grey-darkest: #343a40;
  --color-white: #fff;
  --color-grey: #495057;
  --bp-largest: 87.5em; // 1400 px
  --bp-large: 68.75em; // 1100 px
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 65.5%;
  box-sizing: border-box;

  @media only screen and (max-width: var(--bp-largest)) {
    font-size: 50%;
  }

  @media only screen and (max-width: var(--bp-large)) {
    font-size: 42%;
  }
}
body {
  font-family: sans-serif;
}
